<head>        
    <meta charset="utf-8">
</head>
<h2>Uusi elokuva</h2>
<form name="movieForm">
    <p>
        <label>Nimi</label>
        <input type="text" ng-model="name" required>

</p>
<p>
    <label>Julkaisuvuosi</label>
    <input type="text" ng-model="release" required>

</p>
<p>
    <label>Ohjaaja</label>
    <input type="text" ng-model="director" required>

</p>
<p>
    <label>Kuvaus</label>
    <textarea type="text" ng-model="description" required></textarea>

</p>
<button  ng-click="addMovie()">Lisää elokuva</button>
</form>